//Created by mina on 20/05/15.
extends layout

block content

    h1= title
    p
        ul.nav.nav-tabs-justified
            li
                a(href='/createQuiz') Create quiz
            li.disabled
                a(href='#') Visualize all quizes
            li.disabled
                a(href='#') Delete quiz
