//Created by mina on 20/05/15.
extends layout

block content
    script(type='text/javascript').
        $(start);
        function start() {
            $("#poke-btn").click(function () {
                $.ajax('/testDb').done(function (data) {
                    $('#quiz-list').html(data);
                });
            });
        };
    h1= title
    button(id="poke-btn", class="btn", data-action="bea").
        Test

    div(id="quiz-list")