script(type='text/javascript').
	
	$(start);
	
	function start() {
		Client.Lobby.getRooms($('#room-list'));
	};
	
h1= title

input(type="text", name="user")
button(class="btn", data-action="bea").
	Connexion

h1= title
p List of available rooms:

div(id='room-list')
