script(type='text/javascript').
	
	$(start);
	
	function addRooms(data) {
		console.log(data);
	}

	function start() {
		console.log('lol');
		Client.Lobby.getRooms(addRooms);
	};
	
h1= title
p List of available rooms:


