html
  head

    doctype html

    title= title

    script(src='/javascripts/jquery-2.1.4.min.js')
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/client.js')
    script(src='/javascripts/model.js')
    script(src='/javascripts/bootstrap/bootstrap.min.js')

    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')


  body
    #content
      block content
