script(type='text/javascript').
	
	$(start);
	
	function start() {
		var socket = io.connect('http://localhost:3000/peek');
		
		socket.on('peek', function(data) {
			$("#peek-label").html(JSON.stringify(data));
		});
	};
	
h1= title

span(id="peek-label")
