//Created by mina on 21/05/15.
- var cpt = 0

div(id="question")
    div
        span Question
        input(type="text", name="numberOfQuestions", id="numberOfQuestions")
    div
        span Answer 1
        input(type="text", name="numberOfQuestions", id="numberOfQuestions")
    div
        span Answer 2
        input(type="text", name="numberOfQuestions", id="numberOfQuestions")
    div
        span Answer 3
        input(type="text", name="numberOfQuestions", id="numberOfQuestions")
    div
        span Answer 4
        input(type="text", name="numberOfQuestions", id="numberOfQuestions")
