extends layout

block content
   script(type='text/javascript').   
      function getQ() {
         $.ajax({
            url: "/getQuestion/#{idRoom}",
            type:'GET',
            success: function ( data ) {
               $("#question").fadeOut(200, function() {
                  $("#question").html( data );
                  $("#question").fadeIn();
                  $("#validate-btn").removeAttr('disabled');
               });
            }
         });
      }

      function collectAnswers() {
         var answers = [];

         $("#question .prop").each( function (index, el) {
               answers.push(el.checked);
         } );
         
         $.post('/answer', {'room': #{idRoom}, 'answer' : answers})
            .done(function() {
               console.log('answer posted');   
            });
      }

      $(function() {
         $("#validate-btn").click( function() {
            collectAnswers();
            $("#validate-btn").attr('disabled','disabled');
         } );

         var clientSocket = Client.connect('quiz');//io.connect('http://localhost:3000/quiz');
         
         clientSocket.on('sync', function(data) {
            getQ();
            console.log('sync event received');
         });
         
         clientSocket.on('connect', function (data) {
            console.log('connected, joining room');
            clientSocket.emit('join', { id : #{idRoom} });
         });
      });

   h1= title

   div(id="question")
   
   button(id="validate-btn", class="btn", data-action="bea").
    Valider
