extends layout

block content
   script(type='text/javascript').

      var clientSocket = Client.connect('quiz');//io.connect('http://localhost:3000/quiz');

      clientSocket.on('sync', function(data) {
         getQ();
         console.log('sync event received');
      });

      clientSocket.on('connect', function (data) {
         console.log('connected, joining room');
         clientSocket.emit('join', { id : #{idRoom} });
      });

      function getQ() {
         $.ajax({
            url: "/getQuestion/#{idRoom}",
            type:'GET',
            success: function ( data ) {
               $("#question").html( data );
            }
         });
      }

   h1= title

   div(id="question")
