extends layout

block content
   script(type='text/javascript').

      var clientSocket = Client.connect('quiz');//io.connect('http://localhost:3000/quiz');

      clientSocket.on('startQ', function(data) {
         getQ();
      });


      function getQ() {
         $.ajax({
            url: "/getQuestion",
            type:'GET',
            success: function ( data ) {
               $("#question").html( data );
            }
         });
      }

   h1= title

   div(id="question")
