extends layout
block content
   script(type='text/javascript').

      $(function() {

         var clientSocket = Client.connect('waitQuiz');

         clientSocket.on('startQuiz', function (data) {
            console.log('startQuiz event received');
            window.location.replace("http://localhost:3000/quiz/#{room.id}");
         });

         clientSocket.on('connect', function (data) {

            console.log('connected, waiting the game');
            clientSocket.emit('join', { id : #{room.id} });
         });

      });

   p Wainting for other players

   if player.id == room.master.id
      a(id="quizStart-link", class="", href='/quizStart/#{room.id}').
         Start Quiz
